body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    margin: 30px auto;
    max-width: 600px;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #555;
  }
  
  #calendar {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  thead th {
    padding: 10px;
    font-weight: bold;
    background-color: #f5b971; /* Màu cam nhạt cho tiêu đề */
    border-bottom: 2px solid #ccc;
    color: #fff; /* Màu chữ trắng cho tiêu đề */
  }
  
  tbody td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  tbody td.today {
    background-color: #f5b971; /* Màu cam nhạt cho ngày hôm nay */
    color: #fff; /* Màu chữ trắng cho ngày hôm nay */
    font-weight: bold;
  }
  
  button {
    background-color: #f5b971; /* Màu cam nhạt cho nút */
    color: #fff; /* Màu chữ trắng cho nút */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px; /* Bo tròn các góc của nút */
  }
  
  button:hover {
    background-color: #f68e41; /* Màu cam đậm khi di chuột qua nút */
  }
  
  #navigation {
    margin-top: 20px;
  }
  
  /* Tô đậm màu chữ và thêm viền cho các ngày cuối tuần (Thứ 7 và Chủ Nhật) */
  /*tbody td:nth-child(6),
  tbody td:nth-child(7) {
    font-weight: bold;
    color: #f5b971;
    border: 1px solid #f5b971;
  }*/
/* Định dạng cho các ô được bôi màu */
.highlighted {
  background-color: #9aff9a; /* Màu cam nhạt cho ngày được bôi màu */
  color: #fff; /* Màu chữ trắng cho ngày được bôi màu */
  font-weight: bold;
}
.highligh {
  background-color: #90fbff; /* Màu cam nhạt cho ngày được bôi màu */
  color: #fff; /* Màu chữ trắng cho ngày được bôi màu */
  font-weight: bold;
}

.lunar-date {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}
.highlighlunar {
  color: #ff0000;
  font-weight: bold;
}